

.loginForm {
  font-family: helvetica;
  margin-top: 20px;
  .badge {
    margin-right: 5px;
  }

  .facebook {
    background-color: #3B5998;
  }
  .google {
    background-color: #DB4437;
  }

  .loginButton {
    margin-top: 10px;
    min-height: 60px;
    cursor: pointer;
  }

  .socialButtons {
    button {
      margin-top: 0;
      min-height: 60px;
      cursor: pointer;
    }
  }
  input::placeholder {
    font-size: .9rem;
  }

  .bordered {
    margin-top: 20px;
    border: 1px solid rgb(206, 212, 218);
    border-radius: 5px;
    padding: 20px;
  }
}
