

.loginForm {
    margin-top: 20px;

  .facebook {
    background-color: #3B5998;
  }
  .google {
    background-color: #DB4437;
  }

  .loginButton {
    margin-top: 10px;
    min-height: 60px;
  }

  .socialButtons {
    button {
      margin-top: 0;
      min-height: 60px;
    }
  }

  .bordered {
    margin-top: 20px;
    border: 1px solid rgb(206, 212, 218);
    border-radius: 5px;
    padding: 20px;
  }
}
