
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');


.artists {
  width: 600px;
}


#scoreArea {
  min-height: 60px;
  margin-top: 20px;
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
  margin: 50px 10px;
  color: #844401;
}


