

.artists {
  width: 600px;
}


#scoreArea {
  font-size: 20px;
  font-weight: normal;
  min-height: 60px;
  padding-top: 30px;
  text-align: center;
  margin: 50px 10px;
}

td.score {
  font-size: 30px;
  line-height: 1;
}


