
svg.stars {
    width: 100%;
}

path {

backface-visibility: hidden;
perspective: 1000;

  transition: transform 0.2s;
  stroke: #facfa3;
  stroke-width: .15em;
  filter:url(#dropshadow);
  cursor: pointer;

  &:hover {
   stroke: orange;
   stroke-width: .25em;
  }

  &.starCenter {
    fill: url(#image-2);
    transform-origin: 50% 50%;
    &:hover{
      transform: translateY(-10px) scale(1.1);
    }
  }
  &.starLeft {
    fill: url(#image-1);
    transform-origin: 50% 50%;
    &:hover{
      transform: translateX(-10px) scale(1.1);
    }
  }
  &.starRight {
    fill: url(#image-3);
    transform-origin: 50% 50%;
    &:hover{
      transform: translateX(10px) scale(1.1);
    }
  }
}


